.popup {
  width: 40%;
  background: rgb(229, 87, 87);
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}

.wardrobeimg {
  width: 6rem;
  height: 6rem;
}

.clothingoptions {
  width: 7.5rem;
  height: 7rem;
  position: absolute;
  right: 0;
  bottom: -100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  transition: 1s;
  left: 50%;
  transform: translateX(-50%);
}
.slide:hover .clothingoptions {
  bottom: 0%;
}
.slide:focus .clothingoptions {
  bottom: 0%;
}

@media screen and (max-width: 768px) {
  .wardrobeimg {
    width: 100%;
  }
  .clothingoptions {
    width: 4rem;
  }
  .clothingoptions button {
    font-size: 0.7rem;
  }
  .slide:hover .clothingoptions {
    bottom: 15%;
  }
}